form {
	background-color: #1E90FF;
	border: 5px solid #f1f1f1;
	margin: 10rem;
	float: both;
	opacity: 0.8;
}
input[type="text"], input[type="password"] {
	width: 50%;
	padding: 7px 25px;
	margin:8px 0;
	display: list-item;
	border: 1px solid #ccc;
	box-sizing: border-box;

}
h1{
	color: red;
	text-align: center;

}
button {
	background-color: ;
	color: ;
	padding: 14px 20px;
	margin:8px 0px;
	
	cursor: pointer;
}